[submodule "etc/vim/bundle/jslint.vim"]
	path = etc/vim/bundle/jslint.vim
	url = http://github.com/hallettj/jslint.vim.git
	ignore = untracked
[submodule "etc/vim/bundle/vim-surround"]
	path = etc/vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "etc/vim/bundle/vim-align"]
	path = etc/vim/bundle/vim-align
	url = http://github.com/tsaleh/vim-align.git
	ignore = untracked
[submodule "etc/vim/bundle/nerdcommenter"]
	path = etc/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "etc/vim/bundle/nerdtree"]
	path = etc/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "etc/vim/bundle/syntastic"]
	path = etc/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "etc/vim/bundle/taglist.vim"]
	path = etc/vim/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore = untracked
[submodule "etc/vim/bundle/vimroom"]
	path = etc/vim/bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
	ignore = untracked
[submodule "etc/vim/bundle/phpcomplete.vim/autoload"]
	path = etc/vim/bundle/phpcomplete.vim/autoload
	url = git://github.com/shawncplus/phpcomplete.vim.git
	ignore = untracked
[submodule "etc/vim/bundle/AutoTag"]
	path = etc/vim/bundle/AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "etc/vim/bundle/tslime.vim/plugin"]
	path = etc/vim/bundle/tslime.vim/plugin
	url = https://github.com/kikijump/tslime.vim.git
[submodule "etc/vim/bundle/ultisnips"]
	path = etc/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "etc/vim/bundle/file-line"]
	path = etc/vim/bundle/file-line
	url = https://github.com/bogado/file-line.git
[submodule "etc/vim/bundle/unite.vim"]
	path = etc/vim/bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
[submodule "etc/vim/bundle/vim-fugitive"]
	path = etc/vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "etc/vim/bundle/vim-sensible"]
	path = etc/vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "etc/vim/bundle/vim-rsi"]
	path = etc/vim/bundle/vim-rsi
	url = git@github.com:tpope/vim-rsi.git
[submodule "etc/vim/bundle/vim-tbone"]
	path = etc/vim/bundle/vim-tbone
	url = git@github.com:tpope/vim-tbone.git
[submodule "etc/vim/bundle/vimproc.vim"]
	path = etc/vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "etc/vim/bundle/vim-pathogen"]
	path = etc/vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
